{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Imtiaz | Your Trusted Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link href="{% static 'fonts/sb-bistro/sb-bistro.css' %}"" rel=" stylesheet" type="text/css">
    <link href="{% static 'fonts/font-awesome/font-awesome.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" media="all" href="{% static 'packages/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'packages/o2system-ui/o2system-ui.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'packages/owl-carousel/owl-carousel.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'packages/cloudzoom/cloudzoom.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'packages/thumbelina/thumbelina.css' %}">
    <link rel="stylesheet" type="text/css" media="all"
        href="{% static 'packages/bootstrap-touchspin/bootstrap-touchspin.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/theme.css' %}">

</head>

<div class="page-header">
    <!--=============== Navbar ===============-->
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-transparent" id="page-navigation">
        <div class="container">
            <!-- Navbar Brand -->
            <a href="{% url 'index' %}" class="navbar-brand">
                <img src="{% static 'img/logo/imtiaz-logo.webp' %}" alt="">
            </a>

            <!-- Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarcollapse">
                <!-- Navbar Menu -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'shop' %}" class="nav-link">Shop</a>
                    </li>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="avatar-header"><img src="{% static 'img/logo/avatar.jpg' %}"></div> {{ user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    
                                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                    <a class="dropdown-item" href="{% url 'transaction_history' %}">Transaction</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'register' %}" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'login' %}" class="nav-link">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                    

                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-shopping-basket"></i>
                            <span class="badge badge-primary">{{ cart_total_quantity }}</span>
                        </a>
                        <div class="dropdown-menu shopping-cart">
                            <ul>
                                <li>
                                    <div class="drop-title">Your Cart</div>
                                </li>
                                <li>
                                    <div class="shopping-cart-list">
                                        {% for item in cart_items %}
                                        <div class="media">
                                            <img class="d-flex mr-3" src="{{ item.product.image.url }}" width="60">
                                            <div class="media-body">
                                                <h5><a href="javascript:void(0)">{{ item.product.name }}</a></h5>
                                                <p class="price">
                                                    <span class="discount text-muted">Rp. {{ item.product.orignal_price
                                                        }}</span>
                                                    <span>Rp. {{ item.product.discounted_price }}</span>
                                                </p>
                                                <p class="text-muted">Qty: {{ item.quantity }}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li>
                                    <div class="drop-title d-flex justify-content-between">
                                        <span>Total:</span>
                                        <span class="text-primary"><strong>Rp. {{ cart_total_price }}</strong></span>
                                    </div>
                                </li>
                                <li class="d-flex justify-content-between pl-3 pr-3 pt-3">
                                    <a href="{% url 'cart' %}" class="btn btn-secondary">View Cart</a>
                                    <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
</div>


{% block content %}

{% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>About</h5>
                <p>Discover a world of convenience and unbeatable prices at Imtiaz Market. From fresh groceries to daily essentials, we bring you quality products to make your shopping experience seamless and satisfying.</p>

            </div>
            <div class="col-md-3">
                <h5>Links</h5>
                <ul>
                    <li>
                        <a href="{% url 'shop' %}">Shop</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact</h5>
                <ul>
                    <li>
                        <a href="tel:+92312456789"><i class="fa fa-phone"></i> 03123456789</a>
                    </li>
                    <li>
                        <a href="mailto:test@gmail.com"><i class="fa fa-envelope"></i> test@gmail.com</a>
                    </li>
                </ul>

                <h5>Follow Us</h5>
                <ul class="social">
                    <li>
                        <a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" target="_blank"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">

                <h5>Categories</h5>
                {% for category in categories %}
                <ul class="mb-0">
                    <li>
                        <a href="#">{{ category.name }}</a>
                    </li>
                </ul>
                {% endfor %}

            </div>
        </div>
        <p class="copyright">&copy; 2025 Imtiaz | Your Trusted Store. All rights reserved.</p>
    </footer>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-migrate.js' %}"></script>
<script type="text/javascript" src="{% static 'packages/bootstrap/libraries/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'packages/bootstrap/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'packages/o2system-ui/o2system-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'packages/owl-carousel/owl-carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'packages/cloudzoom/cloudzoom.js' %}"></script>
<script type="text/javascript" src="{% static 'packages/thumbelina/thumbelina.js' %}"></script>
<script type="text/javascript" src="{% static 'packages/bootstrap-touchspin/bootstrap-touchspin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
</body>

</html>